In [1]:
import pandas as pd
import json


df= pd.read_json("https://jsonplaceholder.typicode.com/todos")
df

     completed   id                                              title  userId
0        False    1                                 delectus aut autem       1
1        False    2                 quis ut nam facilis et officia qui       1
2        False    3                                fugiat veniam minus       1
3         True    4                                   et porro tempora       1
4        False    5  laboriosam mollitia et enim quasi adipisci qui...       1
5        False    6  qui ullam ratione quibusdam voluptatem quia omnis       1
6        False    7                  illo expedita consequatur quia in       1
7         True    8                       quo adipisci enim quam ut ab       1
8        False    9                        molestiae perspiciatis ipsa       1
9         True   10       illo est ratione doloremque quia maiores aut       1
10        True   11                        vero rerum temporibus dolor       1
11        True   12                        ipsa repellendus fugit nisi       1
12       False   13                                et doloremque nulla       1
13        True   14     repellendus sunt dolores architecto voluptatum       1
14        True   15                        ab voluptatum amet voluptas       1
15        True   16       accusamus eos facilis sint et aut voluptatem       1
16        True   17                    quo laboriosam deleniti aut qui       1
17       False   18       dolorum est consequatur ea mollitia in culpa       1
18        True   19  molestiae ipsa aut voluptatibus pariatur dolor...       1
19        True   20          ullam nobis libero sapiente ad optio sint       1
20       False   21  suscipit repellat esse quibusdam voluptatem in...       2
21        True   22      distinctio vitae autem nihil ut molestias quo       2
22       False   23  et itaque necessitatibus maxime molestiae qui ...       2
23       False   24  adipisci non ad dicta qui amet quaerat dolorib...       2
24        True   25  voluptas quo tenetur perspiciatis explicabo natus       2
25        True   26                                  aliquam aut quasi       2
26        True   27                        veritatis pariatur delectus       2
27       False   28                  nesciunt totam sit blanditiis sit       2
28       False   29                                laborum aut in quam       2
29        True   30  nemo perspiciatis repellat ut dolor libero com...       2
..         ...  ...                                                ...     ...
170       True  171  fugiat aut voluptatibus corrupti deleniti veli...       9
171      False  172  et provident amet rerum consectetur et voluptatum       9
172      False  173                              harum ad aperiam quis       9
173      False  174                                  similique aut quo       9
174       True  175  laudantium eius officia perferendis provident ...       9
175      False  176        magni soluta corrupti ut maiores rem quidem       9
176      False  177  et placeat temporibus voluptas est tempora quo...       9
177       True  178                    nesciunt itaque commodi tempore       9
178       True  179  omnis consequuntur cupiditate impedit itaque i...       9
179       True  180                debitis nisi et dolorem repellat et       9
180      False  181           ut cupiditate sequi aliquam fuga maiores      10
181       True  182           inventore saepe cumque et aut illum enim      10
182       True  183                 omnis nulla eum aliquam distinctio      10
183      False  184            molestias modi perferendis perspiciatis      10
184      False  185  voluptates dignissimos sed doloribus animi qua...      10
185      False  186                              explicabo odio est et      10
186      False  187                        consequuntur animi possimus      10
187       True  188                                 vel non beatae est      10
188       True  189                        culpa eius et voluptatem et      10
189       True  190  accusamus sint iusto et voluptatem exercitationem      10
190       True  191  temporibus atque distinctio omnis eius impedit...      10
191      False  192    ut quas possimus exercitationem sint voluptates      10
192       True  193  rerum debitis voluptatem qui eveniet tempora d...      10
193      False  194                          sed ut vero sit molestiae      10
194       True  195     rerum ex veniam mollitia voluptatibus pariatur      10
195       True  196                consequuntur aut ut fugit similique      10
196       True  197                  dignissimos quo nobis earum saepe      10
197       True  198                       quis eius est sint explicabo      10
198       True  199                       numquam repellendus a magnam      10
199      False  200                       ipsam aperiam voluptates qui      10

[200 rows x 4 columns]

In [2]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [3]:
import pandas as pd

print(pd.__version__)

0.20.3

In [4]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [5]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [6]:
print(myvar["y"])

7

In [7]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

To select only some of the items in the dictionary, use the index argument and specify only the items you want to include in the Series.

In [8]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [9]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [10]:
#Pandas use the loc attribute to return one or more specified row(s)


print(myvar.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [11]:
print(myvar.loc[0], myvar.loc[1])

calories    420
duration     50
Name: 0, dtype: int64 calories    380
duration     40
Name: 1, dtype: int64

In [12]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

ad= pd.DataFrame(data, index= ["first_day","sec_day","third_day"])
ad

           calories  duration
first_day       420        50
sec_day         380        40
third_day       390        45

In [13]:
print(ad.loc["first_day"])

calories    420
duration     50
Name: first_day, dtype: int64

In [14]:
a= lambda x: x*x

a(5)

25

In [15]:
def abc(s,e):
    for i in range(s, e+1):
        yield i

a= abc(1,10)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
2
3
4
5
6
7
8
9
10

StopIteration:

In [16]:
import pandas as i

ex= i.read_excel("SampleData.xlsx")
ex

    OrderDate   Region       Rep     Item  Units  Unit Cost    Total
0  2021-01-06     East     Jones   Pencil     95       1.99   189.05
1  2021-01-23  Central    Kivell   Binder     50      19.99   999.50
2  2021-02-09  Central   Jardine   Pencil     36       4.99   179.64
3  2021-02-26  Central      Gill      Pen     27      19.99   539.73
4  2021-03-15     West   Sorvino   Pencil     56       2.99   167.44
5  2021-04-01     East     Jones   Binder     60       4.99   299.40
6  2021-04-18  Central   Andrews   Pencil     75       1.99   149.25
7  2021-05-05  Central   Jardine   Pencil     90       4.99   449.10
8  2021-05-22     West  Thompson   Pencil     32       1.99    63.68
9  2021-06-08     East     Jones   Binder     60       8.99   539.40
10 2021-06-25  Central    Morgan   Pencil     90       4.99   449.10
11 2021-07-12     East    Howard   Binder     29       1.99    57.71
12 2021-07-29     East    Parent   Binder     81      19.99  1619.19
13 2021-08-15     East     Jones   Pencil     35       4.99   174.65
14 2021-09-01  Central     Smith     Desk      2     125.00   250.00
15 2021-09-18     East     Jones  Pen Set     16      15.99   255.84
16 2021-10-05  Central    Morgan   Binder     28       8.99   251.72
17 2021-10-22     East     Jones      Pen     64       8.99   575.36
18 2021-11-08     East    Parent      Pen     15      19.99   299.85
19 2021-11-25  Central    Kivell  Pen Set     96       4.99   479.04
20 2021-12-12  Central     Smith   Pencil     67       1.29    86.43
21 2021-12-29     East    Parent  Pen Set     74      15.99  1183.26
22 2022-01-15  Central      Gill   Binder     46       8.99   413.54
23 2022-02-01  Central     Smith   Binder     87      15.00  1305.00
24 2022-02-18     East     Jones   Binder      4       4.99    19.96
25 2022-03-07     West   Sorvino   Binder      7      19.99   139.93
26 2022-03-24  Central   Jardine  Pen Set     50       4.99   249.50
27 2022-04-10  Central   Andrews   Pencil     66       1.99   131.34
28 2022-04-27     East    Howard      Pen     96       4.99   479.04
29 2022-05-14  Central      Gill   Pencil     53       1.29    68.37
30 2022-05-31  Central      Gill   Binder     80       8.99   719.20
31 2022-06-17  Central    Kivell     Desk      5     125.00   625.00
32 2022-07-04     East     Jones  Pen Set     62       4.99   309.38
33 2022-07-21  Central    Morgan  Pen Set     55      12.49   686.95
34 2022-08-07  Central    Kivell  Pen Set     42      23.95  1005.90
35 2022-08-24     West   Sorvino     Desk      3     275.00   825.00
36 2022-09-10  Central      Gill   Pencil      7       1.29     9.03
37 2022-09-27     West   Sorvino      Pen     76       1.99   151.24
38 2022-10-14     West  Thompson   Binder     57      19.99  1139.43
39 2022-10-31  Central   Andrews   Pencil     14       1.29    18.06
40 2022-11-17  Central   Jardine   Binder     11       4.99    54.89
41 2022-12-04  Central   Jardine   Binder     94      19.99  1879.06
42 2022-12-21  Central   Andrews   Binder     28       4.99   139.72

In [17]:
#use to_string() to print the entire DataFrame.
k= i.read_csv("data.csv")
k

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
..        ...    ...       ...       ...
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [ ]:
#The number of rows returned is defined in Pandas option settings.

#You can check your system's maximum rows with the pd.options.display.max_rows statement.
import pandas as pd

print(pd.options.display.max_rows)

In my system the number is 60, which means that if the DataFrame contains more than 60 rows, the print(df) statement will return only the headers and the first and last 5 rows.

You can change the maximum rows number with the same statement.

In [18]:
import pandas as pd

pd.options.display.max_rows = 60

df = pd.read_csv('data.csv')

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
..        ...    ...       ...       ...
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [19]:
print(pd.options.display.max_rows)

60

In [21]:
print(df.head())  #The head() method returns the headers and a specified number of rows, starting from the top.

#if number of rows not specified it will take first 5 rows

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [22]:
print(df.tail())

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [23]:
print(df.info())  #Gives info about the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
Duration    169 non-null int64
Pulse       169 non-null int64
Maxpulse    169 non-null int64
Calories    164 non-null float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

In [24]:
import random
import secrets

n= random.sample(range(0,1000),10)
n

[451, 869, 809, 319, 390, 405, 826, 185, 167, 929]

In [25]:
m=secrets.randbelow(10)
m

0

In [26]:
def my_sum(x1,*x):
    """
    we created this function in NED class
    you can add one or more numbers
    """
    return x1+sum(x)

my_sum(2,3,4,5)

14

In [27]:
keys = ['a','b','c']
values = [1,2,3]

{k:v for k,v in zip(keys,values)}

{'a': 1, 'b': 2, 'c': 3}

In [28]:
data = {"id":list("123456789"),
       "names":list("ABCDEFJKL")}
data

{'id': ['1', '2', '3', '4', '5', '6', '7', '8', '9'],
 'names': ['A', 'B', 'C', 'D', 'E', 'F', 'J', 'K', 'L']}

In [29]:
import pandas as p

d= p.DataFrame(data)

d

  id names
0  1     A
1  2     B
2  3     C
3  4     D
4  5     E
5  6     F
6  7     J
7  8     K
8  9     L

In [30]:
l1= ['a','b','c']
l2= [1,2,3]
l1.extend(l2)
l1

['a', 'b', 'c', 1, 2, 3]

In [31]:
from numpy import random

x=random.randint(100, size=(5))

print(x)

[83  9  4 13 52]

In [32]:
from numpy import random

x=random.randint(100, size=(3,5))

print(x)

[[94 14 79 63 59]
 [42 64 67 48 81]
 [69  3 16 28 41]]

In [33]:
from numpy import random

x = random.rand(3, 5)

print(x)
#rand gives random number b/w 0 and 1

[[ 0.14986258  0.36292798  0.90187148  0.97287238  0.28261469]
 [ 0.15703948  0.03717615  0.64449383  0.52632604  0.28625517]
 [ 0.21614232  0.80696517  0.99432933  0.13067866  0.58981406]]

In [34]:
from numpy import random

x = random.choice([3, 5, 7, 9])

print(x)

5

In [35]:
from numpy import random

x = random.choice([3, 5, 7, 9], size=(3, 5))

print(x)

[[3 3 7 9 9]
 [9 9 3 3 3]
 [9 7 3 5 3]]

In [36]:
from numpy import random

x = random.choice([3, 5, 7, 9], p=[0.9, 0.1, 0.0, 0.0], size=(100))
#probabilities must sum to 1

print(x)

[3 3 3 3 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 5 5
 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 5 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3]

In [37]:
from numpy import random

x = random.choice([3, 5, 7, 9], p=[0.1, 0.3, 0.6, 0.0], size=(3, 5))

print(x)

[[5 5 3 7 5]
 [5 7 5 7 7]
 [7 5 7 5 3]]

In [38]:
import numpy as np
a  = np.random.randint(1,100, size=(1000,5))
df = pd.DataFrame(a,
                 columns=["s1","s2","s3","s4","s5"])
df

     s1  s2  s3  s4  s5
0    26   8  21  35  34
1     2  71   3  83  56
2    99  84  66  73  49
3     5  26  89  38  84
4    93  82  82  94  73
5    91  22  30  98  61
6    78  30  53  12  64
7    44  29  46  34  56
8    94  68  13  78  34
9    44  78  26  28   4
10   79  92  67   2  51
11    6  80  81   2  98
12   20  18  27  83  98
13   63  52  70   9  50
14   39  99  22  39  12
15    8  87   3   1  59
16    7  25  60   6  79
17   10  73   2  30  73
18   82  23   7   5  42
19   70  82  14  47  14
20   46  18  71  64  28
21   30   6  85  47  84
22   98  28  45  76  42
23   93  22  27  72   2
24    5   2  39  22   8
25   90  92  13  72  76
26   13  30  19  42  36
27   68  12  84  19  47
28   15  74   3  63  44
29   39  64  57   8   7
..   ..  ..  ..  ..  ..
970  14  11  59  26  58
971  38  43  44  76  32
972   4  19  48  55  13
973  30   4  19  79  44
974  66   6  27  23  88
975  19  75   5  93  99
976   8  97  77  81  16
977  64  99   2  97  11
978  94  79  96  22   3
979   5  28  91   6  94
980  94  60  88  85  81
981  95  46  30  44  33
982  82  97  15  41  83
983  61   4  14  25  39
984   6  13  54  38  30
985  28  92  93  60  89
986   1  96  81  36  24
987  51  86  22  40  23
988  81  23  23  26  85
989  10  74  55  95  29
990  77  88  38  57  56
991  81  81  91  99  57
992  92   9  66  23  47
993  19   9  62  76  26
994  38  68  10  35  37
995  44  97  97  85   2
996  91  42  67  27  73
997  91  20  57  26  29
998  88   8  53  33  15
999  33  36  84  28  96

[1000 rows x 5 columns]

In [39]:
df['total']= df['s1']+df['s2']+df.s3+df['s4']+df.s5
df

     s1  s2  s3  s4  s5  total
0    26   8  21  35  34    124
1     2  71   3  83  56    215
2    99  84  66  73  49    371
3     5  26  89  38  84    242
4    93  82  82  94  73    424
5    91  22  30  98  61    302
6    78  30  53  12  64    237
7    44  29  46  34  56    209
8    94  68  13  78  34    287
9    44  78  26  28   4    180
10   79  92  67   2  51    291
11    6  80  81   2  98    267
12   20  18  27  83  98    246
13   63  52  70   9  50    244
14   39  99  22  39  12    211
15    8  87   3   1  59    158
16    7  25  60   6  79    177
17   10  73   2  30  73    188
18   82  23   7   5  42    159
19   70  82  14  47  14    227
20   46  18  71  64  28    227
21   30   6  85  47  84    252
22   98  28  45  76  42    289
23   93  22  27  72   2    216
24    5   2  39  22   8     76
25   90  92  13  72  76    343
26   13  30  19  42  36    140
27   68  12  84  19  47    230
28   15  74   3  63  44    199
29   39  64  57   8   7    175
..   ..  ..  ..  ..  ..    ...
970  14  11  59  26  58    168
971  38  43  44  76  32    233
972   4  19  48  55  13    139
973  30   4  19  79  44    176
974  66   6  27  23  88    210
975  19  75   5  93  99    291
976   8  97  77  81  16    279
977  64  99   2  97  11    273
978  94  79  96  22   3    294
979   5  28  91   6  94    224
980  94  60  88  85  81    408
981  95  46  30  44  33    248
982  82  97  15  41  83    318
983  61   4  14  25  39    143
984   6  13  54  38  30    141
985  28  92  93  60  89    362
986   1  96  81  36  24    238
987  51  86  22  40  23    222
988  81  23  23  26  85    238
989  10  74  55  95  29    263
990  77  88  38  57  56    316
991  81  81  91  99  57    409
992  92   9  66  23  47    237
993  19   9  62  76  26    192
994  38  68  10  35  37    188
995  44  97  97  85   2    325
996  91  42  67  27  73    300
997  91  20  57  26  29    223
998  88   8  53  33  15    197
999  33  36  84  28  96    277

[1000 rows x 6 columns]

In [40]:
def my_addition(s1, s2,s3,s4,s5):
  return s1 + s2 + s3 + s4+ s5

df['obtained'] = df[["s1","s2","s3","s4","s5"]].apply(lambda x:my_addition(*x), axis=1)
df

     s1  s2  s3  s4  s5  total  obtained
0    26   8  21  35  34    124       124
1     2  71   3  83  56    215       215
2    99  84  66  73  49    371       371
3     5  26  89  38  84    242       242
4    93  82  82  94  73    424       424
5    91  22  30  98  61    302       302
6    78  30  53  12  64    237       237
7    44  29  46  34  56    209       209
8    94  68  13  78  34    287       287
9    44  78  26  28   4    180       180
10   79  92  67   2  51    291       291
11    6  80  81   2  98    267       267
12   20  18  27  83  98    246       246
13   63  52  70   9  50    244       244
14   39  99  22  39  12    211       211
15    8  87   3   1  59    158       158
16    7  25  60   6  79    177       177
17   10  73   2  30  73    188       188
18   82  23   7   5  42    159       159
19   70  82  14  47  14    227       227
20   46  18  71  64  28    227       227
21   30   6  85  47  84    252       252
22   98  28  45  76  42    289       289
23   93  22  27  72   2    216       216
24    5   2  39  22   8     76        76
25   90  92  13  72  76    343       343
26   13  30  19  42  36    140       140
27   68  12  84  19  47    230       230
28   15  74   3  63  44    199       199
29   39  64  57   8   7    175       175
..   ..  ..  ..  ..  ..    ...       ...
970  14  11  59  26  58    168       168
971  38  43  44  76  32    233       233
972   4  19  48  55  13    139       139
973  30   4  19  79  44    176       176
974  66   6  27  23  88    210       210
975  19  75   5  93  99    291       291
976   8  97  77  81  16    279       279
977  64  99   2  97  11    273       273
978  94  79  96  22   3    294       294
979   5  28  91   6  94    224       224
980  94  60  88  85  81    408       408
981  95  46  30  44  33    248       248
982  82  97  15  41  83    318       318
983  61   4  14  25  39    143       143
984   6  13  54  38  30    141       141
985  28  92  93  60  89    362       362
986   1  96  81  36  24    238       238
987  51  86  22  40  23    222       222
988  81  23  23  26  85    238       238
989  10  74  55  95  29    263       263
990  77  88  38  57  56    316       316
991  81  81  91  99  57    409       409
992  92   9  66  23  47    237       237
993  19   9  62  76  26    192       192
994  38  68  10  35  37    188       188
995  44  97  97  85   2    325       325
996  91  42  67  27  73    300       300
997  91  20  57  26  29    223       223
998  88   8  53  33  15    197       197
999  33  36  84  28  96    277       277

[1000 rows x 7 columns]

In [41]:
df[["s1","s2","s3","s4","s5"]].apply(sum) #top to bottom

s1    49827
s2    51418
s3    50453
s4    51960
s5    50300
dtype: int64

In [42]:
def my_addition(s1, s2,s3,s4,s5):
  obt =  s1 + s2 + s3 + s4+ s5
  total = 500
  per = (obt / total) * 100
  grade = "I"

  if per >= 80:
    grade = "A+"
  elif per >= 70:
    grade = "A"
  elif per >= 60:
    grade = "B"
  elif per >= 50:
    grade = "C"
  else:
    grade = "Fail"


  return total, obt, per, grade
#Passing result_type=’expand’ will expand list-like results to columns of a Dataframe:

df[["total","obtained","per","grade"]] =df[["s1","s2","s3","s4","s5"]].apply(lambda x: my_addition(*x),axis=1, result_type='expand')
df

TypeError: ("<lambda>() got an unexpected keyword argument 'result_type'", 'occurred at index 0')

In [43]:
import pandas as n
import numpy as np
data = {
    "name":["adnan","ahmed","ali"],
    "roll_no":[1,2,3],
    "age": [10,15,20]
}

t= n.DataFrame(data)
t

   age   name  roll_no
0   10  adnan        1
1   15  ahmed        2
2   20    ali        3

In [44]:
t.to_csv("list.csv" , index=False)

In [45]:
t.tail(2)

   age   name  roll_no
1   15  ahmed        2
2   20    ali        3

In [46]:
t.describe()

        age  roll_no
count   3.0      3.0
mean   15.0      2.0
std     5.0      1.0
min    10.0      1.0
25%    12.5      1.5
50%    15.0      2.0
75%    17.5      2.5
max    20.0      3.0

In [47]:
t.index

RangeIndex(start=0, stop=3, step=1)

In [48]:
t.columns

Index(['age', 'name', 'roll_no'], dtype='object')

In [49]:
t.to_numpy()

AttributeError: 'DataFrame' object has no attribute 'to_numpy'

In [50]:
t.T

             0      1    2
age         10     15   20
name     adnan  ahmed  ali
roll_no      1      2    3

In [51]:
t.sort_index(axis=0, ascending=False)

   age   name  roll_no
2   20    ali        3
1   15  ahmed        2
0   10  adnan        1

In [52]:
t.loc[0]

age           10
name       adnan
roll_no        1
Name: 0, dtype: object